.bg {
  width: 100%;
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow: auto;
}

.neumorph-card {
  border-radius: 0.6rem !important;
  box-shadow: 12px 12px 14px #d4d4d4, -12px -12px 14px #ffffff;
  background: linear-gradient(145deg, #ebebeb, #ffffff);
  transition: inherit;
  border-style: none !important;
  margin: 1rem;
  transition: ease-in-out 0.5s;
  color: black;
}

.neumorph-card:hover {
  border-radius: 0.8rem !important;
  box-shadow: 8px 8px 14px #d4d4d4, -8px -8px 14px #ffffff;
  background: linear-gradient(145deg, #ebebeb, #ffffff);
  transition: inherit;
  border-style: none !important;
  margin: 1rem;
  transition: ease-in-out 0.2s;
  color: black !important;
}

.thumb {
  object-fit: cover;
  height: 56.25%;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.caption-overflow {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.neumorph-videobox {
  border-radius: 0.6rem !important;
  box-shadow: 12px 12px 14px #d4d4d4, -12px -12px 14px #ffffff;
  background: linear-gradient(145deg, #ebebeb, #ffffff);
  transition: inherit;
  border-style: none !important;
  margin: 1rem;
  transition: ease-in-out 0.5s;
  color: black;
  max-width: 50rem !important;
}

.neumorph-videobox:hover {
  border-radius: 0.8rem !important;
  box-shadow: 8px 8px 14px #d4d4d4, -8px -8px 14px #ffffff;
  background: linear-gradient(145deg, #ebebeb, #ffffff);
  transition: inherit;
  border-style: none !important;
  margin: 1rem;
  transition: ease-in-out 0.2s;
  color: black !important;
}

.live-front {
  padding: 1rem;
}
