nav {
  display: flex;
  background-color: #c455a8;
  width: auto;
  list-style: none;
}
.nav-item {
  height: 100%;
  min-width: 8rem;
  padding: 0.3rem 0.3rem 0.3rem;
  transition: 0.3s;
}
.nav-item img {
  vertical-align: middle;
  height: 2rem;
  filter: brightness(0) invert(1);
  padding-right: 0.3rem;
}
.nav-item .nav-link {
  text-decoration: none;
  color: #fff;
}
.nav-item:last-child {
  margin-left: auto;
  width: auto;
}
.nav-item:hover {
  background: #db5aba;
}
